__pycache__
data/prompts.json

lora_prompts/*
lora_prompts/**/*.json

prompt_example/*/*.png
prompt_example/*/*.webp
prompt_example/*/*.jpg
prompt_example/*/*.jpeg
prompt_example/*/*.json
prompt_example/*/*.gif
prompt_example/*.json

prompt_reader/cache

cache/reference_images/*